/* Typography */

h1 {
	font-family: "Amaranth";
	font-size: 4em;
}

.center { text-align: center; }

/* Colours */

.color1 { 
	color: blue;
}

.color1-bg {
	background-color: blue;
}

.color2 {
	color: yellow;
}
/* Layout */
html, body {
	width: 100%;
}
.wrapper {
	width: 90%;
	margin-left: auto; 
	margin-right: auto;
}

/* Media */
